<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- include head -->
<th:block th:include="fragments/head :: head"></th:block>
<body>	
	<!-- include header -->	
	<th:block th:include="fragments/header :: header"></th:block>

	<div class="container center-block">
		<div class="col-md-12 col-sm-2">
			<div th:each="entry, status:${features}">
				<a th:href="@{'/orders/'+${entry.name}}">
					<div class="card">
						<img th:src="@{'img/'+${entry.imageUrl}}" width="120px" height="120px"/>
						<h4 th:text="${entry.name}" style="font: bold; color:black; text-transform: uppercase;"></h4>
						<p th:text="${entry.description}"></p>					
					</div>
				</a>
			</div>
		</div>
	</div>

	<!-- include footer -->	
	<th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>